.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
.row
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
  .three.columns
    = render :partial => "mockups/partials/depth_chart_team"
