.row
  .twelve.columns
    %dl.nice.tabs.contained
      %dd
        %a{:href => "#game_review"}
          Game Review
      %dd
        %a{:href => "#manage_roster"}
          Manage Roster
      %dd
        %a{:href => "#trades_waiver"}
          Trades & Waiver Wire
      %dd
        %a{:href => "#team_financials"}
          Team Financials
      %dd
        %a{:href => "#league_information"}
          League Information
    %ul.nice.tabs-content.contained
      %li.active{:id => "game_reviewTab"}

        %dl.tabs
          %dd
            %a{:href => "#week_1"}
              %table
                %tbody
                  %tr
                    %td
                      W1 (w)
          %dd
            %a{:href => "#week_2"}
              %table
                %tbody
                  %tr
                    %td
                      W2 (l)
          %dd
            %a{:href => "#week_3"}
              %table
                %tbody
                  %tr
                    %td
                      W3 (w)
          %dd
            %a{:href => "#week_4"}
              %table
                %tbody
                  %tr
                    %td
                      W4 (l)
          %dd
            %a{:href => "#week_5"}
              %table
                %tbody
                  %tr
                    %td
                      W5 (w)
          %dd
            %a{:href => "#week_6"}
              %table
                %tbody
                  %tr
                    %td
                      W6 (l)
          %dd
            %a{:href => "#week_7"}
              %table
                %tbody
                  %tr
                    %td
                      W7 (w)
          %dd
            %a{:href => "#week_8"}
              %table
                %tbody
                  %tr
                    %td
                      W8 (l)
          %dd
            %a{:href => "#week_9"}
              %table
                %tbody
                  %tr
                    %td
                      W9 (w)
          %dd
            %a{:href => "#week_10"}
              %table
                %tbody
                  %tr
                    %td
                      W10 (l)
          %dd
            %a{:href => "#week_11"}
              %table
                %tbody
                  %tr
                    %td
                      W11 (w)
          %dd
            %a{:href => "#week_12"}
              %table
                %tbody
                  %tr
                    %td
                      W12 (l)

        %ul.tabs-content
          %li{:id=> "week_1Tab"}
            %h5 Week 1
            = render :partial => "mockups/partials/heads_up_row"

          %li{:id=> "week_2Tab"}
            %h5 Week 2
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_3Tab"}
            %h5 Week 3
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_4Tab"}
            %h5 Week 4
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_5Tab"}
            %h5 Week 5
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_6Tab"}
            %h5 Week 6
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_7Tab"}
            %h5 Week 7
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_8Tab"}
            %h5 Week 8
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_9Tab"}
            %h5 Week 9
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_10Tab"}
            %h5 Week 10
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_11Tab"}
            %h5 Week 11
            = render :partial => "mockups/partials/heads_up_row"
          %li{:id=> "week_12Tab"}
            %h5 Week 12
            = render :partial => "mockups/partials/heads_up_row"




      %li{:id => "trades_waiverTab"}
        Trades & Waiver WireContent
      %li{:id => "team_financialsTab"}
        Team Financials Content
      %li{:id => "league_informationTab"}
        League Information Content
