.panel
  %p
    %strong
      #{@team.name} Financials

  %div#account-summary
    .row
      .span4
        Cash:
      .span3
        #{(@team.balance)}
    .row
      .span4
        Wk.Pay:
      .span3
        #{(payroll).to_money.format}

    .row
      .span4
        S. Cap:
      .span3
        #{(cap)}
    .row
      .span4
        Ssn.Pay:
      - if payroll_total > cap
        .span3.failure
          #{(payroll_total)}
      - if payroll_total <= cap
        .span3.success
          #{(payroll_total).to_money.format}

    .row
      - if payroll_total > cap
        .span12.failure
          %strong
            #{(payroll_total - cap).to_money.format} over cap!
      - if payroll_total <= cap
        .span12.success
          %strong
            #{(cap - payroll_total).to_money.format} under cap!
    %br







