.panel
  %p
    %strong
      #{@team.name} Financials

  %div#account-summary
    .row
      .four.columns
        Cash:
      .three.columns
        #{(@team.balance)}
    .row
      .four.columns
        Wk.Pay:
      .three.columns
        #{(payroll).to_money.format}

    .row
      .four.columns
        S. Cap:
      .three.columns
        #{(cap)}
    .row
      .four.columns
        Ssn.Pay:
      - if payroll_total > cap
        .three.columns.failure
          #{(payroll_total)}
      - if payroll_total <= cap
        .three.columns.success
          #{(payroll_total).to_money.format}

    .row
      - if payroll_total > cap
        .twelve.columns.failure
          %strong
            #{(payroll_total - cap).to_money.format} over cap!
      - if payroll_total <= cap
        .twelve.columns.success
          %strong
            #{(cap - payroll_total).to_money.format} under cap!
    %br







