%tr{:data => { :player_id => player.id }}
  %td= player.position.abbreviation.upcase
  %td= player.name.full_name
  %td= player.contract.bye_week
  - unless extra.nil?
    %td= extra
  - if extra.nil?
    %td
      0
  %td
    - if depth == :starter
      = form_for player.player_teams, :url => bench_player_team_path(player.player_teams.id), :html => { :method => :put, :class => 'inline' } do |f|
        = f.hidden_field :depth, :value => 0
        = f.submit 'Bench', :class => "nice small radius white button"
    - elsif depth == :bench
      = form_for player.player_teams, :url => start_player_team_path(player.player_teams.id), :html => { :method => :put, :class => 'inline' } do |f|
        = f.hidden_field :depth, :value => 1
        = f.submit 'Start', :class => "nice small radius white button"
    = link_to 'Drop', drop_player_team_path(player.player_teams.id), :class => "nice small radius red button"
