.panel
  #{@team.name} Schedule
  %table#scoring
    %thead
      %tr
        %th Week
        %th Opponent
        %th Outcome
    %tbody
      - games.each_with_index do |game, i|
        %tr
          %td= i + 1
          %td= game.opponent_for(@team).name
          %td= @team.won?(game) ? 'Won' : 'Lost'
    %tfoot
      %tr
        %td{ :colspan => 2 } Record
        %td
          #{record.inject(:+)} - #{ record.empty? ? 0 : record.size - record.inject(:+) }
