.panel
  #{@team.name} Schedule
  %table#scoring
    %thead
      %tr
        %th Week
        %th Opponent
        %th Outcome
    %tbody
      - games.each do |game|
        %tr
          %td= game.week
          %td= game.opponent.name
          %td
            - if game.outcome == 1
              Win
            - elsif game.outcome == 0
              Loss
            - else
              N/A
    %tfoot
      %tr
        %td{ :colspan => 2 } Record
        %td
          #{record[:wins]} - #{record[:losses]}
