/= javascript_include_tag controller.action_name
/= stylesheet_link_tag controller_base_name


.row-fluid
  .span12.well.light-well
    %h2 Edit Team
    = simple_form_for @team, :html => { :multipart => true } do |f|
      .row-fluid
        .span6
          = f.input :motto, :label => "Select a Motto"
          Upload/Change Team Logo
          %br
          = f.file_field :logo
        .span6
          .thumbnail
            = image_tag @team.logo.url
            .caption
              = @team.name
      .row-fluid
        .span12
        = f.button :submit, 'Submit', :class => 'btn btn-primary'
