.container
  .row
    .panel
      %h5
        Your Dashboard
        %p
          %strong
            GAME RESULTS: WEEK #{week}

        %p
          %strong
            You
            - if game.team_score > game.opponent_score
              Won!
            - elsif game.team_score < game.opponent_score
              Lost!
            - else
              Tied!
            You got
            = game.team_score
            points and
            = game.opponent.name
            got
            = game.opponent_score
            points.
        %p
          Your next game is against #{next_game.opponent.name}.
          Remember to set your starters!

  .row
    %dl.nice.contained.tabs
      %dd
        = link_to "Roster", "#roster", :class => "active"
      %dd
        = link_to "Set Starters", "#starters"
      %dd
        = link_to "Trades", "#trades"
      %dd
        = link_to "Research", "#research"
      / %dd
      /  = link_to "Waiver Wire", "#waiver"
      / %dd
      /  = link_to "League Review", "#league"
    %ul.nice.tabs-content.contained
      = render :partial => "research_tab", :locals => research
      = render :partial => "trades_tab", :locals => trades
    /  = render :partial => "roster_tab"
    /  = render :partial => "starters_tab"
    /  = render :partial => "waiver_tab"
    /  = render :partial => "league_tab"
