= javascript_include_tag 'team/manage' # Included JS Files
= stylesheet_link_tag 'team/manage'

.container
  .row
    .panel
      %h5
        Your Dashboard
        %div#game_summary
          - if week > 0
            %p
              %strong
                Game results for week #{week}

            %p
              %strong
                - my_score = game.score_for(@team)
                - opponent_score = game.score_for(game.opponent_for(@team))
                You #{ @team.won?(game) ? 'won' : 'lost' }#{ my_score === opponent_score ? ' (home field advantage)' : '' }!
                You got #{ my_score } points and #{ game.opponent_for(@team).name } got #{ opponent_score } points.

          - if week < max_week
            %p
              Your next game is against #{ next_game.opponent_for(@team).name }. Remember to set your starters!

        %ul#game_weeks
          - (1..max_week).each do |i|
            %li{:class => ('current' if i === (week - 1))}
              %div= i

  .row
    %dl.nice.contained.tabs
      - if week > 0 && false
        %dd= link_to 'Game Review', '#review', :class => 'active'
      %dd= link_to 'Roster', '#roster', :class => (week > 0 ? 'active' : nil)
      %dd= link_to 'Trades', '#trades'
      //%dd= link_to 'Research', '#research'
      %dd= link_to 'Waiver Wire', '#waiver'
      / %dd= link_to "League Review", "#league"
    %ul.nice.tabs-content.contained
      - if week > 0 && false
        = render :partial => 'review_tab', :locals => review
      = render :partial => 'roster_tab', :locals => roster
      = render :partial => 'trades_tab', :locals => trades
      = render :partial => 'waiver_tab', :locals => trades

- content_for :sidebar do
  = render :partial => 'sidebar', :locals => sidebar
