= stylesheet_link_tag 'teams'
.container
  .row
    .panel
      %h5
        Your Dashboard
        -if week > 0
          %p
            %strong
              GAME RESULTS: WEEK #{week}

          %p
            %strong
              You
              - if game.team_score > game.opponent_score
                Won!
              - elsif game.team_score < game.opponent_score
                Lost!
              - else
                Tied!
              You got
              = game.team_score
              points and
              = game.opponent.name
              got
              = game.opponent_score
              points.
          %p
            Your next game is against #{next_game.opponent.name}.
            Remember to set your starters!

          %ul#game_weeks
            - (1..max_week).each do |i|
              %li{:class => ('current' if i === week)}
                %div= i
      - unless @week == 0
            .row
              .panel
                .row
                  %h5
                    Game Scoring Breakdown
                .row
                  .your_score_breakdown.six.columns
                    %p
                      QB: #{@game_lineup.andand.qb.name}:     #{@game_lineup.andand.qb.andand.player.event_points.current.last.andand.points}
                    %p
                      WR1: #{@game_lineup.andand.wr1.name}:   #{@game_lineup.andand.wr1.andand.player.event_points.current.last.andand.points}
                    %p
                      WR2: #{@game_lineup.andand.wr2.name}:   #{@game_lineup.andand.wr2.andand.player.event_points.current.last.andand.points}
                    %p
                      RB1: #{@game_lineup.andand.rb1.name}:   #{@game_lineup.andand.rb1.andand.player.event_points.current.last.andand.points}
                    %p
                      RB2: #{@game_lineup.andand.rb2.name}:   #{@game_lineup.andand.rb2.andand.player.event_points.current.last.andand.points}
                    %p
                      TE: #{@game_lineup.andand.te.name}:     #{@game_lineup.andand.te.andand.player.event_points.current.last.andand.points}
                    %p
                      K: #{@game_lineup.andand.k.name}:       #{@game_lineup.andand.k.andand.player.event_points.current.last.andand.points}
                  .opponent_score_breakdown.six.columns
                    %p
                      QB: #{@opponent_lineup.andand.qb.name}:     #{@opponent_lineup.andand.qb.andand.player.event_points.current.last.andand.points}
                    %p
                      WR1: #{@opponent_lineup.andand.wr1.name}:   #{@opponent_lineup.andand.wr1.andand.player.event_points.current.last.andand.points}
                    %p
                      WR2: #{@opponent_lineup.andand.wr2.name}:   #{@opponent_lineup.andand.wr2.andand.player.event_points.current.last.andand.points}
                    %p
                      RB1: #{@opponent_lineup.andand.rb1.name}:   #{@opponent_lineup.andand.rb1.andand.player.event_points.current.last.andand.points}
                    %p
                      RB2: #{@opponent_lineup.andand.rb2.name}:   #{@opponent_lineup.andand.rb2.andand.player.event_points.current.last.andand.points}
                    %p
                      TE: #{@opponent_lineup.andand.te.name}:     #{@opponent_lineup.andand.te.andand.player.event_points.current.last.andand.points}
                    %p
                      K: #{@opponent_lineup.andand.k.name}:       #{@opponent_lineup.andand.k.andand.player.event_points.current.last.andand.points}

  .row
    %dl.nice.contained.tabs
      %dd
        = link_to 'Roster', '#roster', :class => 'active'
      %dd
        = link_to 'Trades', '#trades'
      %dd
        = link_to 'Research', '#research'
      / %dd
      /  = link_to "Waiver Wire", "#waiver"
      / %dd
      /  = link_to "League Review", "#league"
    %ul.nice.tabs-content.contained
      = render :partial => 'roster_tab', :locals => roster
      = render :partial => 'trades_tab', :locals => trades
    /  = render :partial => "research_tab", :locals => research
    /  = render :partial => "waiver_tab"
    /  = render :partial => "league_tab"

- content_for :sidebar do
  = render :partial => 'sidebar', :locals => sidebar
