.panel
  %h3
    League:
    = @team.league.name
  %h4 
    - if @team.user_id == current_user.id
      = "Your Team:"
      - else
      = "Your Opponent's Team:"
    = @team.name
  %h4
    Other Teams in League:
    - @team.league.draft.teams.each do |team|
      = link_to team.name, team
  %h4

.panel
  %h3
    Roster:
  - @team.players.each do |player|
    %p
      = player.name.full_name
      = player.id
      = player.position.name
      = player.points

      -#- player.events.past.each do |event|
      -#  Event Id:
      -#  = event.start_date_time
      -#  Points Earned:
      -#  = PlayerEventPoint.by_event(event.id, player.id).points


