#people
	- @people.each do |person|
		.person
		%h1.id= person.display_name.full_name
		%h2.position= person.person_phase.position.name
		%p.inspect= person.person_key
		%p.phase= person.person_phase.regular_position_depth
		\%p.person= person.attributes
		\%p.person.stats= person.stats
		%p.person.score= person.person_score.score
		%p.person.salary= person.salary.contract_amount