#people
    - @teams.each do |team|
        .team.two_columns
            %ul
                %li
                    %h2
                        = link_to team.display_name.full_name, team
                        = team.person_phases.current_phase.count
                        Players


        - team.person_phases.current_phase.each do |p|
            .person
            %ul
                %li
                    = link_to p.person.display_name.full_name, p.person
                    %strong
                        Status:
                    = link_to p.phase_status, p.phase_status
                    %strong
                        Position:
                    = link_to p.position.abbreviation, p.position
                    %strong
                        Uniform #:
                    = p.uniform_number


