/ %h2
/   Total Users: 
/   = @total_users
/ %h2
/   Total Team Owners: 
/   = @total_team_owners
/ %h2
/   Total Leagues: 
/   = @total_leagues
/ %h2
/   Total Dynasty Dollars for sale: 
/   = "$#{@total_dynasty_dollars_for_sale}.00"
/ 
/ %hr

:javascript
  var team_id = 0;
%h2
  Season Week:
  %span{ :id => 'season_week' }
    = 0
%h2
  Total Dynasty Dollars: 
  %span{ :id => 'total_dynasty_dollars' }
    = 0

%h2
  Leagues
  - @leagues.each_with_index do |item, index|
    %br
    = link_to "League #{index+1}", "/banking/league_stats/#{index+1}"
  
%h3
  Top 20 accounts by activity
  %table{ :id => 'activity_table', :width => 500 }
  
%h3
  Top 20 accounts by balance
  %table{ :id => 'balance_table', :width => 500 }
