- if @league
  .panel
    %p
      %strong
        #{@team.name} Financials
    .row
      .span4
        Cash:
      .span3
        #{number_to_currency(@team.balance)}
    .row
      .span4
        Wk.Pay:
      .span3
        #{number_to_currency(@my_weekly_payroll)}

    .row
      .span4
        S. Cap:
      .span3
        #{number_to_currency(@cap)}
    .row
      .span4
        Ssn.Pay:
      - if @my_season_payroll > @cap
        .span3.failure
          #{number_to_currency(@my_season_payroll)}
      - if @my_season_payroll <= @cap
        .span3.success
          #{number_to_currency(@my_season_payroll)}

    .row
      - if @my_season_payroll > @cap
        .span12.failure
          %strong
            #{number_to_currency(@my_season_payroll - @cap)} over cap!
      - if @my_season_payroll <= @cap
        .span12.success
          %strong
            #{number_to_currency(@cap - @my_season_payroll)} under cap!
    %br







