- if @league
  .panel
    %p
      %strong
        #{@team.name} Financials
    .row
      .four.columns
        Cash:
      .three.columns
        #{number_to_currency(@team.balance)}
    .row
      .four.columns
        Wk.Pay:
      .three.columns
        #{number_to_currency(@my_weekly_payroll)}

    .row
      .four.columns
        S. Cap:
      .three.columns
        #{number_to_currency(@cap)}
    .row
      .four.columns
        Ssn.Pay:
      - if @my_season_payroll > @cap
        .three.columns.failure
          #{number_to_currency(@my_season_payroll)}
      - if @my_season_payroll <= @cap
        .three.columns.success
          #{number_to_currency(@my_season_payroll)}

    .row
      - if @my_season_payroll > @cap
        .twelve.columns.failure
          %strong
            #{number_to_currency(@my_season_payroll - @cap)} over cap!
      - if @my_season_payroll <= @cap
        .twelve.columns.success
          %strong
            #{number_to_currency(@cap - @my_season_payroll)} under cap!
    %br







