%li.active#rosterTab
  %h5
    Review your Roster
  %p
    How strong does your team look? Should you drop a weaker player?


  %table
    %thead
      %tr
        %th
          Position
        %th
          Name
        %th
          Depth
        %th
          Bye Week
        %th
          Details
        %th
          Weekly Payroll
        %th
          Manage
    %tbody
      - Position.all.each do |p|
        - @my_starters.each do |starter|
          - if starter.player.position == p
            %tr
              %td
                = starter.player.position.abbreviation.upcase
              %td
                = starter.player.name.full_name
              %td
                - if starter.depth == 1
                  %strong.success
                    = "Starter"
                - if starter.depth != 1
                  .failure
                    = "Bench"
              %td
                = starter.player.contract.bye_week
              %td
                = starter.details
              %td
                #{number_to_currency(starter.player.contract.amount / @team.schedules.count)}
              %td
                = link_to "Drop Contract", player_team_record_drop_path(starter.id), :class => "nice small red button"
      - Position.all.each do |p|
        - @my_bench.each do |bench|
          - if bench.player.position == p
            %tr
              %td
                = bench.player.position.abbreviation.upcase
              %td
                = bench.player.name.full_name
              %td
                - if bench.depth == 1
                  %strong.success
                    = "Starter"
                - if bench.depth != 1
                  .failure
                    = "Bench"
              %td
                = bench.player.contract.bye_week
              %td
                = bench.details
              %td
                #{number_to_currency(bench.player.contract.amount / @team.schedules.count)}
              %td
                = link_to "Drop Contract", player_team_record_drop_path(bench.id), :class => "nice small red button"