%li.active#startersTab
  .row
    .six.columns
      Your Current Starters
      %p
        %strong
          Starting QB:
          = @my_lineup.qb.andand.name || "Not Set!"
      %p
        %strong
          Starting WR(1):
          = @my_lineup.wr1.andand.name || "Not Set!"
      %p
        %strong
          Starting WR(2):
          = @my_lineup.wr2.andand.name || "Not Set!"
      %p
        %strong
          Starting RB(1):
          = @my_lineup.rb1.andand.name || "Not Set!"
      %p
        %strong
          Starting RB(2):
          = @my_lineup.rb2.andand.name || "Not Set!"
      %p
        %strong
          Starting TE:
          = @my_lineup.te.andand.name || "Not Set!"
      %p
        %strong
          Starting K:
          = @my_lineup.k.andand.name || "Not Set!"
    .six.columns
      %h5
        Choose Your Starters!
      = semantic_form_for @my_lineup do |f|
        = f.input :qb_id, :as => :select, :collection => @my_qb,  :label => "Choose a starting QB:"

        = f.input :wr1_id, :as => :select, :collection => @my_wr, :label => "Choose your starting WR (1)"

        = f.input :wr2_id, :as => :select, :collection => @my_wr, :label => "Choose your starting WR (2)"

        = f.input :rb1_id, :as => :select, :collection => @my_rb, :label => "Choose your starting RB (1)"

        = f.input :rb2_id, :as => :select, :collection => @my_rb, :label => "Choose your starting RB (2)"

        = f.input :te_id, :as => :select, :collection => @my_te,  :label => "Choose your starting TE"

        = f.input :k_id, :as => :select, :collection => @my_k,    :label => "Choose your starting Kicker"
        = f.commit_button :label => "Update"