%li.active#tradesTab
  %h5
  .panel
    %h3
      Offer A Trade
    = semantic_form_for @new_trade,  do |f|
      .row
        .span6
          = f.input :offered_player_id, :as => :select, :collection => @my_players, :label => "Choose A Player to Offer:"
          //= f.input :offered_cash, :label => "Offer some cash"
          //= f.input :offered_picks, :label => "Offer picks"
        .span6
          = f.label "Choose A Player to Request"
          = f.grouped_collection_select :requested_player_id, @other_teams.order(:name), :player_teams, :name, :id, :name, :include_blank => true
          //= f.input :requested_cash, :label => "Request some cash"
          //= f.input :requested_picks, :label => "Request picks"
      .row
        .span12
          = f.input :message, :input_html => { :rows => 5, :cols => 70, :maxlength => 255  }, :label => "Send a message"
      .row
        = f.commit_button
  .panel
    %h3
      Open Trade Offers Received
    - @my_open_trades_received.andand.each do |trade|
      .panel
        %strong
          = link_to "Reject Trade", trade_retract_path(trade), :class => "success"
          = link_to "Accept Trade", trade_accept_path(trade), :class => "failure"
        I received an offer to trade
        = trade.requested_player.name
        for
        = trade.offered_player.name
        from
        = trade.initial_team.name
        on
        = trade.offered_at.strftime("%B %e, %Y")
        - if trade.message
          %br
          %strong
            Message Attached:
          #{trade.message}
  .panel
    %h3
      My Open Trade Offers
    - @my_open_trades_offered.andand.each do |trade|
      .panel
        %strong
          = link_to "Retract Trade", trade_retract_path(trade), :class => "failure"
        I offered
        = trade.offered_player.name
        to
        = trade.second_team.name
        for
        = trade.requested_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")
        - if trade.message
          %br
          %strong
            Message Attached:
          #{trade.message}
  .panel
    %h3
      Accepted Trade Offers Made
    - @my_accepted_trades_offered.andand.each do |trade|
      %p

        = trade.offered_player.name
        to
        = trade.second_team.name
        for
        = trade.requested_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")

  .panel
    %h3
      Accepted Trade Offers Received
    - @my_accepted_trades_received.andand.each do |trade|
      %p

        = trade.requested_player.name
        to
        = trade.initial_team.name
        for
        = trade.offered_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")
