.container
  .row
    .panel
      %h5
        = @team.name
        Dashboard
      %p
        Lorem ipsum dolor sit amet, hinc adhuc iisque eam in, est errem putant verear te, ex nam ridens dignissim. Vim quem audire no. Id putent dicunt imperdiet mel, ex vel impetus detracto necessitatibus, eam mandamus vulputate ea. Mei te wisi pertinacia, in nec sensibus scribentur. Ut nulla nostrud percipitur per, nulla zril delectus sea ex.
  .row
    %dl.nice.contained.tabs
      %dd
        = link_to "Roster", "#roster", :class => "active"
      %dd
        = link_to "Set Starters", "#starters"
      %dd
        = link_to "Trades", "#trades"
      %dd
        = link_to "Research", "#research"
      %dd
        = link_to "Waiver Wire", "#waiver"
      %dd
        = link_to "League Review", "#league"
    %ul.nice.tabs-content.contained

      = render :partial => "roster_tab"

      = render :partial => "starters_tab"

      = render :partial => "trades_tab"

      = render :partial => "research_tab"

      = render :partial => "waiver_tab"

      = render :partial => "league_tab"









