.panel
  %h4
    User Control Panel
  %p
    Username:
    %strong
      = @current_user.name
    Email:
    %strong
      = @current_user.email


  %p
  - unless @current_user_teams.first
    = @welcome_message
  - if @current_user_teams.first
    - @current_user_teams.each do |t|
      .panel
        %p
          League Name:
          %strong
            = t.andand.league.andand.name
        %p
          Team Name:
          %strong
            = t.andand.name
        = button_to "Manage Team",
          manage_team_url(t, :subdomain => t.andand.league.slug, :anchor => 'roster'),
          :method => :get,
          :class => 'small nice black button radius',
          :form_class => 'inline',
          :disabled => !(t.players.count > 0)

        - unless t.league.draft.nil? || t.league.draft.status === :finished
          = button_to "Go To The Draft",
            draft_url(:subdomain => t.andand.league.slug),
            :form_class => 'inline',
            :class => 'small nice blue button radius'
