.panel
  %h4 User Control Panel
  - if current_user.team
    - team = current_user.team
    - if team.league
      .well
        %p
          League Name:
          %strong= team.league.name
          - if current_user.is_manager_of? team.league
            = link_to 'Edit', edit_league_path(team.league), :class => "btn btn-mini btn-inverse"
            - if team.league.teams.count === Settings.league.capacity && team.league.draft.nil?
              = link_to (I18n.t 'schedule_draft', :scope => :user_cp), edit_league_path(team.league), :class => "btn btn-mini btn-danger"
        %p
          Team Name:
          %strong= team.name
        %p
          Team Balance:
          %strong= team.balance.format

        - if team.league.draft.nil? || (!team.league.draft.nil? && !team.league.draft.finished?)
          /= link_to 'Set AutoPick Order', auto_pick_path, :class => 'btn btn-primary'
          = link_to 'Go to The Draft',  draft_path, :class => 'btn btn-primary'
    - else
      = link_to t('.labels.join_league'), leagues_path, :class => 'btn btn-inverse'
      = link_to t('.labels.create_league'), new_league_path, :class => 'btn btn-primary'
  - else
    = link_to t('.labels.create_team'), new_team_path

