= javascript_include_tag 'user_cp'
- if current_user.team
  - team = current_user.team

  - if team.league
    .row-fluid
      .well.dark-well.controls.span12
        %h1
          = team.name
          Dashboard
    .row-fluid
      .span8
        .well.light-well
          %h2= team.name
          .row-fluid
            .span6
              - if team.league.name
                %h3
                  League:
                  = team.league.name
              %h3
                Motto:
                = team.motto
              %h3
                Balance:
                = number_to_currency(team.balance, options = {:precision => 0})
            .span6
              .thumbnail
                = image_tag team.logo.url(:thumb)
                .caption
                  = team.name
          .row-fluid
            %a.btn.btn-primary{:href => edit_my_team_path} Edit Team

            -# if team.league.draft.nil? || (!team.league.draft.nil? && !team.league.draft.state == 'finished')
            /= link_to 'Set AutoPick Order', auto_pick_path, :class => 'btn btn-primary'
            /=# link_to 'Go to The Draft',  draft_path, :class => 'btn btn-primary' unless team.league.draft.nil?
        - if current_user.is_manager_of? team.league

          .well.light-well.disabled
            %h2 League Tools
            - unless @draft.nil?
              #schedule-draft.modal.fade
                .modal-header
                  %button.close{ :data => { :dismiss => 'modal' } } ×
                  %h3= I18n.t "#{@draft.state === 'scheduled' ? 're' : ''}schedule_draft", :scope => :user_cp
                .modal-body
                  = simple_form_for @league, :url => league_path(@league) do |f|
                    = render :partial => 'schedule_draft_form', :locals => { :form => f }
                .modal-footer
                  %a.btn.submit{ :href => '#' } Submit
                  %a.btn.cancel{ :href => '#', :data => { :dismiss => 'modal' } } Cancel
              %button.btn.btn-small.btn-danger{ :data => { :toggle => 'modal', :target => '#schedule-draft' } }= I18n.t "#{@draft.state === 'scheduled' ? 're' : ''}schedule_draft", :scope => :user_cp
            - if team.league.teams.count < Settings.league.capacity
              = link_to (I18n.t 'invite', :scope => :user_cp), new_user_invitation_path, :class => "btn btn-small"






        //.well.light-well.disabled
        //  %h2
        //    Coaches Corner
        //  %p
        //    WIP
        //.well.light-well.disabled
        //  %h2
        //    Front Office
        //  %p
        //    WIP





      .span4
        .well.light-well
          %h2
            = current_user.full_name
          .row-fluid
            .thumbnail.span3
              = image_tag current_user.gravatar_url
              .caption
                = link_to 'Edit', current_user.gravatar_profile
            .span9
              Email:
              = current_user.email
              Username:
              = current_user.username

        .well.light-well
          %h2 League Standings
          %table.table-striped.table-condensed.table-bordered
            %thead
              %tr
                %th Rank
                %th Team
                %th Wins
                %th Losses
            %tbody

            - current_user.team.league.teams.sort!{|a, b| b.rating <=> a.rating }.each_with_index do |team, i|
              %tr
                %td= i += 1
                %td
                  %p
                    %strong= team.name

                %td= team.games_won
                %td= team.games_lost
        .well.light-well.disabled
          %h2 Recent League Activity
          %p There has been no activity.
  - else
    .well.light-well
      = link_to t('.labels.join_league'), leagues_join_path, :class => 'btn btn-inverse'
      = link_to t('.labels.create_league'), new_league_path, :class => 'btn btn-primary'
- else
  = link_to t('.labels.create_team'), new_team_path

