.panel
  %h4 User Control Panel
  %p= link_to 'Edit User Profile', edit_user_registration_path

  %p
  = "You have no teams right now. Please contact a beta administrator for access to a testing league." if @teams.empty?
  - if @teams.first
    - @teams.each do |t|
      .panel
        %p
          League Name:
          %strong= t.league.name
        %p
          Team Name:
          %strong= t.name

        - if t.players.count > 0
          = link_to 'Manage Team', "#{manage_team_url(t, :subdomain => t.league.slug, :anchor => 'roster')}", :class => 'small nice black button radius'

        - if t.players.count < 1
          - unless t.league.draft.nil? || t.league.draft.status === :finished
            = link_to 'Go to The Draft',  "#{draft_url(:subdomain => t.league.slug)}", :class => 'small nice blue button radius'
            = link_to 'Set AutoPick Order', auto_pick_url, :class => 'small nice black button radius'
