.panel
  %h4 User Control Panel
  %p
    = link_to 'Edit User Profile', edit_user_registration_path
    |
    = link_to 'Create a League', new_league_path
    |
    = link_to 'Purchase Dynasty Dollars', '/payments/purchase_dynasty_dollars'
    .panel
      1) User Signup with successful bill   2) Create Team 3) User can create/join league
  %p
  - if @teams && !@teams.empty?
    - @teams.each do |t|
      .panel
        %p
          League Name:
          %strong= t.league.name
        %p
          Team Name:
          %strong= t.name
        %p
          Team Balance:
          %strong= number_to_currency(t.balance)

        - if t.players.count > 0
          = link_to 'Manage Team', "#{manage_team_url(t, :subdomain => t.league.slug, :anchor => 'roster')}", :class => 'small nice black button radius'

        - if t.players.count < 1
          - unless t.league.draft.nil? || t.league.draft.status === :finished
            = link_to 'Go to The Draft',  "#{draft_url(:subdomain => t.league.slug)}", :class => 'small nice blue button radius'
            = link_to 'Set AutoPick Order', auto_pick_url, :class => 'small nice black button radius'
  - elsif current_user.leagues.size > 0
    - league = current_user.leagues.first
    %h5= league.name
    = link_to 'Edit', edit_league_path(league)
  - else
    = link_to 'Create New League', new_league_path, :class => 'small nice blue button radius'
    = link_to 'View League List', leagues_path, :class => 'small nice black button radius'
