
.panel
  %h4
    User Control Panel
  %p
    Username:
    %strong
      = @current_user.name
    Email:
    %strong
      = @current_user.email


  %p
  - unless @current_user_teams.first
    = @welcome_message
  - if @current_user_teams.first
    - @current_user_teams.each do |t|
      .panel
        %p
          League Name:
          %strong
            = t.andand.league.andand.name
        %p
          Team Name:
          %strong
            = t.andand.name
        = link_to "Manage Team", manage_user_team_url(t), :class => "small nice black button radius"

