.panel
  %h4 User Control Panel
  - if @team
    .well
      %p
        League Name:
        %strong= @team.league.name
      %p
        Team Name:
        %strong= @team.name
      %p
        Team Balance:
        %strong= "$D #{@team.balance}"


      - if @team.players.count > 0
        = link_to 'Manage Team', "/coaches_corner_home", :class => 'btn btn-primary'

      - if @team.players.count < 1
        - unless @team.league.draft.nil? || @team.league.draft.status === :finished
          = link_to 'Go to The Draft',  "#{draft_url(:subdomain => @team.league.slug)}", :class => 'btn btn-primary'
          = link_to 'Set AutoPick Order', auto_pick_url, :class => 'btn btn-primary'
  - elsif current_user.leagues.size > 0
    - league = current_user.leagues.first
    %h5= league.name
    = link_to 'Edit', edit_league_path(league)
    - if league.teams.count === Settings.league.capacity && league.draft.nil?
      |
      = link_to (I18n.t 'schedule_draft', :scope => :user_cp, :class => "btn btn-primary"), edit_league_path(league)
  - else
    = link_to 'Create New League', new_league_path, :class => 'btn btn-primary'
    = link_to 'View League List', leagues_path, :class => 'btn btn-primary'
