= javascript_include_tag 'register_league'
= stylesheet_link_tag 'forms'
= render :partial => 'shared/registration_steps', :locals => { :step_classes => [ 'active', '', 'disabled' ] }
.row-fluid
  .span12.well.light-well
    %h2 Join or create a league
    %a.public.btn.btn-large.btn-primary{ :href => leagues_join_path }= t '.labels.buttons.join_public'
    - unless @user.invitation.nil?
      %a.join-private.btn.btn-large.btn-primary{ :href => accept_invitation_path }= t '.labels.buttons.join_private', :name => @user.invitation.name
    .create-private.btn.btn-large.btn-primary{ :data => { :toggle => 'modal', :target => '#league-type-modal' } }= t '.labels.buttons.create_private'

    #league-type-modal.modal.fade
      = simple_form_for @league, :url => leagues_path do |f|
        .modal-header
          %button.close{ :data => { :dismiss => 'modal' } } ×
          %h3 Create a Private League
        .modal-body
          = render :partial => 'leagues/form', :locals => { :form => f }
        .modal-footer
          = f.button :submit, 'Create League'
          .btn.cancel{ :data => { :dismiss => 'modal' } } Cancel
