#dynasty-navbar.navbar.navbar-fixed-top
  .navbar-inner
    .container
      // Brand and Logo Stay Here
      %a.logo{:href=>'/'}
        = image_tag "single_logo_minimal.png", :class => "logo visible-desktop pull_left"
        = image_tag "navbar_logo.png", :class => "logo hidden-desktop pull_left"
      // Collapsible nav for tablets/phones
      .row

        %a.btn.btn-navbar{'data-target' => '.nav-collapse', 'data-toggle' => 'collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        // Hidden at 940 PX or less
        .nav-collapse
          // Primary Nav
          %ul.nav.pull-right
            - if user_signed_in?
              - if current_user.team
                %li
                  %a#date.navbar-text= number_to_currency(current_user.team.balance, options = {:precision => 0})
            %li.divider-vertical
            %li
              %a{:href => '/mockups/rules'} How To Play


            %li.divider-vertical
            %li
              %a{:href => '/research', :class => "#{controller_name === ("research" or "player")  ? 'active' : ''}"} Player Research

            %li.divider-vertical
            - unless user_signed_in?
              %li
                %a{:href => "#signupModal", "data-toggle" => "modal"}
                  Sign Up!
                //%a{:href => new_user_registration_path}
                //  Create an Account
              %li.divider-vertical
              %li
                %a{:href => "#loginModal", :data => {:toggle => "modal"}}
                  Sign In
              %li.divider-vertical
            - if user_signed_in?
              // Secondary Nav
              %li
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  %i.icon-user.icon-white
                  = t :signed_in, :attribute => current_user.first_name, :scope => :nav


                %ul.dropdown-menu
                  %li
                    %a{:href => "/teams/"}
                      Edit Team
                  %li.divider
                  %li
                    %a{:href => destroy_user_session_path}
                      %i.icon-off.pad-right &nbsp; Sign Out?
              %li.divider-vertical
