.container.fixed
  .row
    .span8.offset4
      %h1.animated.fadeInRightBig#flyright
        %em Fantasy Football is about to change. . .
      %h2.animated.fadeInLeftBig#flyleft
        %em . . . are you ready to build a Dynasty?
      %br
  .row
    .span7.offset5
      %ul.nav.nav-pills.box_shadow
        %h3.animated.pulse.black
          %a{:href => "#scheduleModal", :data => {:toggle =>"modal"}} Schedule of Events
          &nbsp;&nbsp;&nbsp;&nbsp;
          %a{:href => "#rulesModal", :data => {:toggle =>"modal"}} Official League Rules
          &nbsp;&nbsp;&nbsp;&nbsp;
          %a{:href => "#loginModal", :data => {:toggle => "modal"}} Log In

#stack
  .row
    .span6
      #myCarousel.carousel
        .carousel-inner
          .active.item
            = image_tag "carousel_1.png"
            .carousel-caption
              %h4 Contract Information
              %p More Caption Text
          .item
            = image_tag "carousel_2_s1.png"
            .carousel-caption
              %h4 Revenue Information
              %p More Caption Text
          .item
            = image_tag "carousel_3_s1.png"
            .carousel-caption
              %h4 Payout Information
              %p More Caption Text
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
    %video.span6{:src => "/videos/321.mp4", :autoplay => "" }/
  .row
    .span12
      = image_tag "signup_header_s1.png"
      %br
  .row
    .span4
      %a{:href => "#rookieModal", :data => {:toggle => "modal"}}
        = image_tag "box_rookie_s1.png"
    .span4
      %a{:href => "#allproModal", :data => {:toggle => "modal"}}
        = image_tag "box_allpro_s1.png"
    .span4
      %a{:href => "#hofModal", :data => {:toggle => "modal"}}
        = image_tag "box_hof_s1.png"


.modal#scheduleModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      Schedule
  .modal-body
    %p
      Schedule Body Copy
  .modal-footer
    %a.btn{:href => "#"} Close

.modal#rulesModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      Official League Rules
  .modal-body
    %p
      Official League Rules Content
  .modal-footer
    %a.btn{:href => "#"} Close

.modal#rookieModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      Rookie League Signup
  .modal-body
    %p
      Signup Flow Here
  .modal-footer
    %a.btn{:href => "#"} Close

.modal#allproModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      All Pro League Signup
  .modal-body
    %p
      Signup Flow Here
  .modal-footer
    %a.btn{:href => "#"} Close

.modal#hofModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      Hall of Fame League Signup
  .modal-body
    %p
      Signup Flow Here
  .modal-footer
    %a.btn{:href => "#"} Close