.row-fluid
  .span12
    %h1
      LIMITED AVAILABILITY - ONLY 3000 SPOTS AVAILABLE IN 2012



.row-fluid
  %ul.thumbnails
    .span6
      #myCarousel.carousel.thumbnail
        .carousel-inner
          .active.item
            = image_tag "home_1.png"
          .item
            = image_tag "home_2.png"
          .item
            = image_tag "home_3.png"
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
    .span6
      .thumbnail
      %a{:href => "#videoModal", :data => {:toggle => "modal"}}
        = image_tag "321-poster.png"
.row-fluid
  .span12
    %h1
      SIGN UP TODAY TO CREATE OR JOIN A LEAGUE!
.row-fluid
  %ul.thumbnails
    .span6
      .thumbnail
        %a{:href => "#allProModal", :data => {:toggle => "modal"}}
          = image_tag "box_all_pro.jpg"
    .span6
      .thumbnail
        %a{:href => "#legendModal", :data => {:toggle => "modal"}}
          = image_tag "box_legend.jpg"





.modal#allProModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      All-Pro League Signup
  .modal-body
    %p
      Signup Flow Here
  .modal-footer
    %a.btn{:href => "#"} Close

.modal#legendModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
    %h3
      Legend League Signup
  .modal-body
    %p
      Signup Flow Here
  .modal-footer
    %a.btn{:href => "#"} Close

.modal#videoModal.fade
  .modal-header
    %button.close{:data => {:dismiss => "modal"}}x
  .modal-body
    <iframe width="560" height="315" src="http://www.youtube.com/embed/1piBxlro3mI?rel=0" frameborder="0" allowfullscreen></iframe>
  .modal-footer
    %a.btn{:href => "#"} Close
