.row-fluid
  .span12
    %h1
      LIMITED AVAILABILITY - ONLY
      %span.red
        3000
      SPOTS AVAILABLE IN 2012
.row-fluid
  %ul.thumbnails
    .span5
      .well.light-well#video
        .flex-video
          = video_tag "/assets/321.mov", :controls => "", :preload => "", :width => "100%", :height => "250px", :poster => "321-poster.png"
    .span7
      .well.light-well#comparison
        %table.table.table-condensed
          %thead.white_bg
            %tr
              %th{:nowrap => ""}
                %h3.red-heading GAME FEATURES
              %th= image_tag "yahoo_logo.png"
              %th= image_tag "espn_logo.png"
              %th= image_tag "cbs_logo.png"
              %th= image_tag "dynasty_logo.png"
          %tbody
            %tr
              %td.left_aligned
                Boring Old Fantasy Football
              %td
                = image_tag "checkmark.png"
              %td
                = image_tag "checkmark.png"
              %td
                = image_tag "checkmark.png"
              %td
                –
            %tr
              %td.left_aligned
                Real NFL Salaries and Cap
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"
            %tr
              %td.left_aligned
                League Revenue Sharing
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"
            %tr
              %td.left_aligned
                Weighted Bench Scoring
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"
            %tr
              %td.left_aligned
                Year-Round Trades Supported
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"
            %tr
              %td.left_aligned
                7 Year Payouts
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"
            %tr
              %td.left_aligned
                Marketplace to Sell Your Team
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"
            %tr
              %td.left_aligned
                Grand Prize for Efficiency Champ
              %td
                –
              %td
                –
              %td
                –
              %td
                = image_tag "checkmark.png"

.row-fluid
  .span12
    %h1.simple
      %span.dark_red
        SIGN UP
      TO CREATE OR JOIN A LEAGUE!
.row-fluid
  .well.light-well.span12
    .row-fluid
      %table.table.span12#payouts
        %thead
          %tr
            %th
              .row-fluid
                %h1.span12
                  Dynasty Owner Payouts
            %th
              .row-fluid
                %h1.span12
                  All-Pro Leagues
            %th
              .row-fluid
                %h1.span12
                  Legend Leagues
        %tbody
          %tr
            %td.left_aligned
              Number of Teams in Each League
            %td
              12
            %td
              12
          %tr
            %td.left_aligned
              Annual League Fee
            %td
              $250
            %td
              $500
          %tr
            %td.left_aligned
              League Champion Pay
            %td
              $750
            %td
              $2,500
          %tr
            %td.left_aligned
              7-Year Payout: League Champion
            %td
              $50/yr.
            %td
              $150/yr.
          %tr
            %td.left_aligned
              Runner Up Pay
            %td
              $250
            %td
              $750
          %tr
            %td.left_aligned
              7-Year Payout: Runner Up
            %td
              $25/yr.
            %td
              $75/yr.
          %tr
            %td.left_aligned
              7-Year Payout: League Efficiency
            %td
              $25/yr.
            %td
              $75/yr.
          %tr
            %td.left_aligned
              Grand Prize Top Tier Efficiency
            %td
              $10,000
            %td
              $20,000
          %tr
            %td.left_aligned
            %td
              %a.btn.btn-danger{ :href => new_user_registration_path(:tier => 'all-pro') } SIGN UP!
            %td
              %a.btn.btn-danger{ :href => new_user_registration_path(:tier => 'legend') } SIGN UP!

- unless user_signed_in?
  #floating-signup
    .row-fluid
      %a.btn.btn-danger.big-signup{:href => "#signupModal", "data-toggle" => "modal"}
        Sign Up Now!






