%table.table.table-condensed
  %thead.white_bg
    %tr
      %th{:nowrap => ""}
        %h3.red-heading GAME FEATURES
      %th= image_tag "yahoo_logo.png"
      %th= image_tag "espn_logo.png"
      %th= image_tag "cbs_logo.png"
      %th= image_tag "dynasty_logo.png"
  %tbody
    %tr
      %td.left_aligned
        Boring Old Fantasy Football
      %td
        = image_tag "checkmark.png"
      %td
        = image_tag "checkmark.png"
      %td
        = image_tag "checkmark.png"
      %td
        –
    %tr
      %td.left_aligned
        Real NFL Salaries and Cap
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
    %tr
      %td.left_aligned
        League Revenue Sharing
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
    %tr
      %td.left_aligned
        Weighted Bench Scoring
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
    %tr
      %td.left_aligned
        Year-Round Trades Supported
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
    %tr
      %td.left_aligned
        7 Year Payouts
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
    %tr
      %td.left_aligned
        Marketplace to Sell Your Team
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
    %tr
      %td.left_aligned
        Grand Prize for Efficiency Champ
      %td
        –
      %td
        –
      %td
        –
      %td
        = image_tag "checkmark.png"
