%table
  %thead
    %tr
      %th{:colspan => "3"}
        Games
      %th{:colspan => "9"}
        Passing
      %th{:colspan => "4"}
        Rushing
      %th{:colspan => "2"}
        Fumbles
    %tr
      %th
        Week
      %th
        Teams
      %th
        FPTS
      %th
        Att
      %th
        Comp
      %th
        Pct
      %th
        Yds
      %th
        TD
      %th
        Int
      %th
        Sck
      %th
        SckY
      %th
        Rate
      %th
        Att
      %th
        Yds
      %th
        Avg
      %th
        TD
      %th
        FUM
      %th
        Lost
    %tfoot
      %tr
        %td{:colspan => "16"}
    %tbody
      - @person.events.past.each do |event|
        %tr
          %td
            = event.gameday
          %td
            = event.away_team.display_name.first_name
            %br
            vs.
            = event.home_team.display_name.first_name
          %td
            = @person.game_points(event)
          %td
            = @person.game_stats(event).passing.andand.passes_attempts ||="--"
          %td
            = @person.game_stats(event).passing.andand.passes_completions  ||="--"
          %td
            = @person.game_stats(event).passing.andand.passes_percentage   ||="--"
          %td
            = @person.game_stats(event).passing.andand.passes_yards_net  ||="--"
          %td
            = @person.game_stats(event).passing.andand.passes_touchdowns                           ||="--"
          %td
            = @person.game_stats(event).passing.andand.passes_interceptions                        ||="--"
          %td
            = @person.game_stats(event).sacks.andand.sacks_against_total                           ||="--"
          %td
            = @person.game_stats(event).sacks.andand.sacks_against_yards                           ||="--"
          %td
            = @person.game_stats(event).passing.andand.passer_rating                        ||="--"
          %td
            = @person.game_stats(event).rushing.andand.rushes_attempts                      ||="--"
          %td
            = @person.game_stats(event).rushing.andand.rushes_yards                         ||="--"
          %td
            = @person.game_stats(event).rushing.andand.rushing_average_yards_per            ||="--"
          %td
            = @person.game_stats(event).rushing.andand.rushes_touchdowns                    ||="--"
          %td
            = @person.game_stats(event).fumbles.andand.fumbles_committed             ||="--"
          %td
            = @person.game_stats(event).fumbles.andand.fumbles_lost                  ||="--"
//