.row.person
  .panel
    %h3
      = @person.display_name.full_name
    %p
      = @person.current_position.position.abbreviation.capitalize
      | Uniform # 
      = @person.current_position.uniform_number
      |
      = @person.current_team.display_name.full_name
      |
      = @person.current_position.regular_position_depth.to_i.ordinalize
      String
      
    %p
      Contract Summary: $
      = @person.contract.summary
      over
      = @person.contract.length
      years, ending in 
      = @person.contract.end_year
    %p 
      Yearly Salary: $
      = @person.contract.amount
    %p
      Free Agent:
      = @person.contract.free_agent_year
    %p
      Fantasy Points Earned Last Season: 
      = @person.season_points(11) 
      |
      Dynasty Weighted FPTS: 
      =  (@person.season_points(11) / (@person.contract.amount / 1000000)).to_i
    %p
      Fantasy Points Earned This Season: 
      = @person.current_season_points(Clock.first.time.to_s)
      |
      Dynasty Weighted FPTS: 
      = (@person.current_season_points(Clock.first.time.to_s) / (@person.contract.amount / 1000000)).to_i 
  //- if @person.current_position.position.id = 1
  = render :partial => "quarterback"



  //- @person.stat_events.each do |event|
  //  %li
  //    .week
  //      Week
  //      - if event.event_passing_stats(params[:id])
  //        .passing_stats
  //          %h5
  //            Passing - Fantasy Points Earned:
  //            = event.event_passing_stats(params[:id]).stat_repository.score_modifier
  //          %p
  //            Attempts:
  //
  //            Completions:
  //
  //            Percentage:
  //
  //            \%
  //            Passing Yards:
  //
  //            Receiving Yards:
  //            = event.event_passing_stats(params[:id]).stat_repository.receptions_yards
  //            Touchdowns:
  //
  //            Interceptions:
  //            = event.event_passing_stats(params[:id]).stat_repository.passes_interceptions
  //            Passer Rating:
  //            = event.event_passing_stats(params[:id]).stat_repository.passer_rating
  //      - if event.event_rushing_stats(params[:id])
  //        .rushing_stats
  //          %h5
  //            Rushing - Fantasy Points Earned:
  //            = event.event_rushing_stats(params[:id]).stat_repository.score_modifier
  //          %p
  //            Rushing Yards:
  //
  //            Rushing TD's:
  //            = event.event_rushing_stats(params[:id]).stat_repository.rushes_touchdowns
  //      - if event.event_defensive_stats(params[:id])
  //        .defensive-stats
  //          %h5
  //            Defense - Fantasy Points Earned:
  //            = event.event_fumbles_stats(params[:id]).stat_repository.score_modifier
  //          %p
  //            Tackles (Solo):
  //            = event.event_defensive_stats(params[:id]).stat_repository.tackles_solo
  //      - if event.event_fumbles_stats(params[:id])
  //        .fumbles_stats
  //          %h5
  //            Fumbles - Fantasy Points Lost:
  //            = event.event_fumbles_stats(params[:id]).stat_repository.score_modifier
  //          %p
  //            Fumbles Committed:
  //
  //      - if event.event_sacks_stats(params[:id])
  //        .sacks_stats
  //          %h5
  //            Sacks Stats
  //      - if event.event_scoring_stats(params[:id])
  //        .scoring_stats
  //          %h5
  //            Scoring Stats
  //      - if event.event_special_teams_stats(params[:id])
  //        .special_teams_stats
  //          %h5
  //            Special Teams Stats
