%h2
  League Transactions

%table{ :width => 500, :class => 'nice' }
  %tr
    %td
    %td
      Date
    %td
      From
    %td
      To
    %td
      Event
    %td
      Amount
  - @transactions.each_with_index do |transaction, index|
    %tr
      %td= index + 1
      %td= transaction.created_at
      %td= link_to transaction.payable.class.to_s, url_for(transaction.payable)
      %td= link_to transaction.receivable.class.to_s, url_for(transaction.receivable)
      %td= transaction.eventable.class.to_s
      %td= transaction.amount.format
%br
