
.row
  .one
  .two.columns
    %a{:href => "/mockups/"}
      /Todo: refactor this to work gracefully regardless of environment, while still playing well with Authorize.net
      %img{:src => "/assets/logo_med.png"}

  .nine.columns.right#nav_top_row
    %ul.nav-bar.right
      %li.has-flyout.right
        %a{:href => "#", :class => "main"}Walk-Throughs
        %a{:href => "#", :class => "flyout-toggle"}
          %span
          %div.flyout.small.panel
            %dl
              %dd
                %a Video 1
              %dd
                %a Video 2
              %dd
                %a Video 3
              %dd
                %a Video 4
      %li.has-flyout.right
        %a{:href => "/mockups/player_news", :class => "main"}Player News
        %a{:href => "#", :class => "flyout-toggle"}
          %span
        %div.flyout.small.panel
          %dl
            %dd
              %a{:href => "/mockups/player_news"} Player News
            %dd
              %a{:href => "/mockups/player_research"} Player Research
            %dd
              %a{:href => "/mockups/headlines"} Headlines
            %dd
              %a{:href => "/mockups/transactions_contracts"} Transactions & Contracts
            %dd
              %a{:href => "/mockups/depth_charts"} Depth Charts
            %dd
              %a{:href => "http://blog.dynastyowner.com", :target => "_blank"} Blog




      - if user_signed_in?
        %li.has-flyout.right
          %a{:href => "#", :class => "main"}
            = t :signed_in, :attribute => current_user.email, :scope => :nav
          %a{:href => "#", :class => "flyout-toggle"}
            %span
          %div.flyout.small.panel
            %dl
              %dd
                = link_to 'Edit User Profile', edit_user_registration_path
              %dd
                = link_to "Sign Out?", destroy_user_session_path
              %dd
                %a{:href => "#"} Manage Account

#nav_bottom_row.container
  .row
    .twelve.columns.right
      %dl.sub-nav
        %dt
        %dd
          = link_to 'Coaches Corner', #
        %dd
          = link_to 'Front Office', #
        %dd
          %a{:href => "/mockups/team_marketplace"} Team Marketplace
        %dd
          %a{:href => "/payments/purchase_dynasty_dollars"} Purchase Dynasty Dollars