:javascript
  function copyAddress() {
  document.getElementById("x_ship_to_address").value =  document.getElementById("x_address").value;
  document.getElementById("x_ship_to_city").value =  document.getElementById("x_city").value;
  document.getElementById("x_ship_to_state").value =  document.getElementById("x_state").value;
  document.getElementById("x_ship_to_zip").value =  document.getElementById("x_zip").value;
  }

.span6.centered
  .panel
    %h4
      Purchase Dynasty Dollars
    %h5
      Current Team Balance:
      = number_to_currency(@user.team.balance, :unit => "DD$")
    %p
      Please select a package:
    = form_tag("/payments/dynasty_dollars_receipt", :method => "get") do |f|
      //= form_for :sim_transaction, :class => 'nice', :url => payments_dynasty_dollars_receipts  do |f|
      //= sim_fields(@sim_transaction)
      = select_tag('x_amount',  options_for_select([['10 Million DD$: $10.00', 10000000.00], ['25 Million DD$: $25.00', 25000000.00], ['50 Million DD$: $50.00', 50000000.00], ['100 Million DD$: $100.00', 100000000.00]]))
      = hidden_field_tag 'x_test_request', "true"
      //= hidden_field_tag 'x_line_item', "#{@purchase_type}"



      %h5
        Billing Information
      %strong
        = label_tag 'x_amount', "2012-2013 Membership Fee: #{number_to_currency(@amount)}"

      = label_tag 'x_card_num', 'Credit Card Number'
      = text_field_tag 'x_card_num', '', :class => 'large_input', :size => 16 , :placeholder => '4111111111111111'

      .row
        .span5
          = label_tag 'x_exp_date', 'Expiration Date (MMYY)'
          = text_field_tag 'x_exp_date', '', :class => 'large_input', :size => 4, :placeholder => '1213'
        .span5
          = label_tag 'x_card_code', 'CCV'
          = text_field_tag 'x_card_code', '', :class => 'large_input', :size => 4, :placeholder => '123'


      = hidden_field_tag 'x_first_name',   :value => @user.first_name
      = hidden_field_tag 'x_last_name', :value => @user.last_name
      = hidden_field_tag 'x_email',  :value => @user.email
      = hidden_field_tag 'x_phone',  :value => @user.phone
      = hidden_field_tag 'x_address', :value => @user.address.street
      = hidden_field_tag 'x_city', :value => @user.address.city
      = hidden_field_tag 'x_state', :value => @user.address.state
      = hidden_field_tag 'x_zip', :value => @user.address.zip

      = submit_tag 'Purchase'


