- player = get_player(lineup.player_teams.first.player_id) unless lineup.player_teams.empty?
%tr.lineup{ :data => { 'player-id' => player.nil? ? '' : lineup.player_teams.first.id, :positions => lineup.positions.collect{ |p| p.id } } }
  %td
    = lineup.position.abbreviation.upcase
    = "(#{player.position.abbreviation.upcase})" if lineup.flex && !(player.nil?)
  %td= t ".depth.#{lineup.string.ordinalize}_string", :default => (t '.string_label.default') unless player.nil?
  %td= player.name.full_name unless player.nil?
  %td= player.contract.bye_week unless player.nil?
  %td= number_to_currency(player.contract.amount) unless player.nil?
  %td.controlwrap
    - if player.nil?
      = link_to t('.add_player_label'), '#', :class => 'add'
    - else
      = link_to t('.trade_player_label'), "trades?pid=#{lineup.player_teams.first.id}", :class => 'trade'
      = link_to '×', drop_player_team_path(lineup.player_teams.first.id), :confirm => (t '.confirmation', :name => player.name.full_name), :class => 'delete' unless player.nil?
