- tooltip_delay = ({ 'show' => 500, 'hide' => 100 }).to_json
- player = get_player(lineup.player_teams.first.player_id) unless lineup.player_teams.empty?
%tr.lineup.expandable
  %td= lineup.flex ? lineup.flex_positions.collect{ |p| p.abbreviation.upcase }.join('/') : lineup.position.abbreviation.upcase
  %td= t ".depth.#{lineup.string.ordinalize}_string", :default => (t '.string_label.default') unless player.nil?
  %td.name= player.name.full_name unless player.nil?
  %td= player.contract.bye_week unless player.nil?
  %td= "#{number_to_currency(player.contract.amount)} over #{player.contract.length} years ending in #{player.contract.end_year}" unless player.nil?
  %td= number_to_currency(player.points_per_dollar) unless player.nil?
  %td.controlwrap
    - if player.nil?
      %a.btn.btn-success.add{ :href => '/research',
        :rel => 'tooltip',
        :data => { :delay => tooltip_delay },
        :title => t('.help.add') }
        %i.icon-plus
    - else
      %a.btn.btn-inverse.trade.expandable{ :href => "/front_office/trades?pid=#{lineup.player_teams.first.id}",
        :rel => 'tooltip',
        :data => { :delay => tooltip_delay },
        :title => t('.help.trade') }
        %i.icon-retweet
      %a.btn.btn-danger.remove.expandable{ :href => drop_player_team_path(lineup.player_teams.first.id),
        :rel => 'tooltip',
        :data => { :delay => tooltip_delay },
        :title => t('.help.remove') }
        %i.icon-remove
