= stylesheet_link_tag 'forms'
- content_for :title, t('.title')
- content_for :section_title, "Coach\'s Corner"
.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>"#tab1", "data-toggle" => "tab"} Offer a Trade
    %li
      %a{:href=>"#tab2", "data-toggle" => "tab"} Open Trades
    %li
      %a{:href=>"#tab3", "data-toggle" => "tab"}Closed Trades

.tab-content
  .tab-pane#tab1.active
    %h3 Offer A Trade
    %p Choose a player you would like to trade for from the list below, and click Trade!:
    %table.all-players-data.table.table-striped.table-bordered.datatable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th Player Name
          %th Position
          %th Team Name
          %th
      %tbody
        - @trades[:their_players].each do |ptr|
          %tr
            %td
              .btn-group

                %a.btn.btn-mini.btn-primary{:href => "/players/#{ptr.player.id}"}
                  = ptr.player.name.full_name
                %a.btn.btn-mini.btn-primary{:href => "/trades/new?pid=#{ptr.id}"}
                  Trade!
            %td= ptr.player.position.abbreviation.upcase
            %td= ptr.team.name
            %td





  .tab-pane#tab2
    %h3 Open Trade Offers
    - @trades[:open_trades_received].andand.each do |trade|
      .panel
        %strong
          = link_to "Accept Trade", trade_accept_path(trade), :class => "success"
          = link_to "Reject Trade", trade_retract_path(trade), :class => "failure"
        I received an offer to trade
        = trade.requested_player.name
        for
        = trade.offered_player.name
        from
        = trade.initial_team.name
        on
        = trade.offered_at.strftime("%B %e, %Y")
        - if trade.message
          %br
          %strong
            Message Attached:
          #{trade.message}
    - @trades[:open_trade_offers].andand.each do |trade|
      .panel
        %strong
          = link_to "Retract Trade", trade_retract_path(trade), :class => "failure"
        I offered
        = trade.offered_player.name
        to
        = trade.second_team.name
        for
        = trade.requested_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")
        - if trade.message
          %br
          %strong
            Message Attached:
          #{trade.message}
  .tab-pane#tab3
    %h3 Accepted Trade Offers
    - @trades[:accepted_trade_offers].andand.each do |trade|
      %p

        = trade.offered_player.name
        to
        = trade.second_team.name
        for
        = trade.requested_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")

    - @trades[:accepted_trades_received].andand.each do |trade|
      %p

        = trade.requested_player.name
        to
        = trade.initial_team.name
        for
        = trade.offered_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")

    %h3 Rejected Trades
    - @trades[:denied_trade_offers].andand.each do |trade|
      %p

        = trade.offered_player.name
        to
        = trade.second_team.name
        for
        = trade.requested_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")

    - @trades[:denied_trades_received].andand.each do |trade|
      %p

        = trade.requested_player.name
        to
        = trade.initial_team.name
        for
        = trade.offered_player.name
        on
        = trade.offered_at.strftime("%B %e, %Y")
