- content_for :title, t('.title')
- content_for :section_title, "Front Office"

%table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th
        Player
      %th
        Dropped by
      %th
        Salary
      %th
        Total Contract
      %th
        Contract End
      %th
        Waiver Ends In
      %th
        *
    - @waivers.each do |waiver|
      %tr
        %th
          %a{:href => "/players/#{waiver.player_team.player.id}"}
            = waiver.player_team.player.name.full_name
        %th
          = waiver.team.name
        %th
          = number_to_currency(waiver.player_team.player_contract.amount)
        %th
          = number_to_currency(waiver.player_team.player_contract.summary)
          \/
          = waiver.player_team.player_contract.length
          yrs
        %th
          = waiver.player_team.player_contract.end_year
        %th
          = distance_of_time_in_words(Clock.first.time, waiver.end_datetime)
        %th
          %a.btn.btn-primary{:href => "/player_teams/#{waiver.player_team_id}/bid"}
            Bid


