
.row.person
  .panel
    .row
      .span2
        = image_tag 'headshot.png'
        = "#{@player.birth_date} "
        Height: #{@player.phase.height}
        Weight: #{@player.phase.weight}
      .span5
        %h4
          %strong
            = @player.name.full_name
          \#
          = @player.phase.uniform_number
        %h5
          = @player.real_team.display_name.first_name
          = @player.real_team.display_name.last_name
          = @player.position.abbreviation.upcase
          (#{@player.phase.regular_position_depth})

          2011-2012 Bye Week:
          = @player.contract.bye_week

        %p
          Contract Summary: $
          = @player.contract.summary
          over
          = @player.contract.length
          years, ending in
          = @player.contract.end_year
        %p
          Yearly Salary: $
          = @player.contract.amount
        %p
          Free Agent:
          = @player.contract.free_agent_year
      .span4
        - if user_signed_in?
          .well
            - if @league_players.include?(@player)
              %h6
                = @current_user.team.league.name
              -if @player_team == @current_user.team
                %h5
                  On Your Team
              -else
                .btn-group
                  %a.btn.dropdown-toggle{:data => {:toggle => 'dropdown'}}
                    = @player.position.name
                    for
                    = @player_team.team.name
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/front_office/trades?"}
                        Offer A Trade
            - else
              .btn-group
                %a.btn.btn-primary{:href => add_player_team_path(@player, :team_id => current_user.team.id, :lineup => @open_slots.first.id)}
                  = "Add #{@player.name.full_name}"
              %h6
                Open Lineup Slot #:
                = @open_slots.first.id
              %h6
                = "Current #{@player.position.name}s:"
                = current_user.team.player_teams.where(:lineup_id => @player.position.lineups.pluck(:id)).first.name
  %br
  %br
  .panel
    %h5
      This Season's Performance
    .row
      .span12
        %table.season-data.table.table-striped.table-bordered.datatable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr
              %th
                Event Date
              %th
                PTS
              %th
                Pass
              %th
                Rush
              %th
                Def
              %th
                Score
              %th
                ST
              %th
                Sck
              %th
                Fmbl
              %th
                *
          %tbody
          - @player.event_points.current.each do |pep|
            %tr
              %th
                = pep.event.start_date_time.strftime("%B %e, %Y")
              %th
                = pep.points
              %th
                = pep.passing_points
              %th
                = pep.rushing_points
              %th
                = pep.defensive_points
              %th
                = pep.scoring_points
              %th
                = pep.special_teams_points
              %th
                = pep.sacks_against_points
              %th
                = pep.fumbles_points
              %th
  .panel
    %h5
      Career Performance
    .row
      .span12
        %table.career-data.table.table-striped.table-bordered.datatable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr
              %th
                Season
              %th
                PTS
              %th
                Pass
              %th
                Rush
              %th
                Def
              %th
                Score
              %th
                ST
              %th
                Sck
              %th
                Fmbl
              %th
                Games
          %tbody
          - @player.season_points.each do |psp|
            %tr
              %td
                = psp.year
              %td
                = psp.points
              %td
                = psp.passing_points
              %td
                = psp.rushing_points
              %td
                = psp.defensive_points
              %td
                = psp.scoring_points
              %td
                = psp.special_teams_points
              %td
                = psp.sacks_against_points
              %td
                = psp.fumbles_points
              %td
                = psp.games_played
