- if !(string.nil?) && lineup.string === string
  - player = get_player(lineup.player_teams.first.player_id) unless lineup.player_teams.empty?
  %tr.lineup{ :data => { :id => lineup.id,
    :compatible => Lineup.by_position(lineup.position_id).collect{ |l| l.id unless l === lineup }.compact } }
    %td.position<
      = lineup.position.abbreviation.upcase
      = "(#{player.position.abbreviation.upcase})" if lineup.flex && !(player.nil?)
    %td.player.name= player.name.full_name unless player.nil?
    %td.player.bye= player.contract.bye_week unless player.nil?
    %td.player.points= player.points_this_season unless player.nil?
    %td= link_to (image_tag "shared/#{player.nil? ? 'user_add.png' : 'user_go.png'}", :title => 'Swap Player'), '#',
      { :data => { 'reveal-id' => 'swap_player' } }
