- player = get_player(lineup.player_teams.first.player_id) unless lineup.player_teams.empty?
%tr.lineup{ :data => { :id => lineup.id } }
  %td.position= lineup.flex ? lineup.flex_positions.collect{ |p| p.abbreviation.upcase }.join('/') : lineup.position.abbreviation.upcase
  %td.player.name
    %a{:href => "/players/#{player.id}"}
      = player.name.full_name unless player.nil?
    = player.position.abbreviation.upcase
    = player.real_team.name
  %td.player.points= player.points_this_season unless player.nil?
  %td.player.points.projected NA
  %td.player.bye= player.contract.bye_week unless player.nil?
  %td
    %button.btn.btn-mini{ :href => '#swap_player',
      :data => { :toggle => 'modal',
      :compatible => Lineup.by_position(player.nil? ? lineup.position_id : player.position.id).collect{ |l| l.id unless (l === lineup || l.string === lineup.string) }.compact } }
      = t ".labels.#{lineup.string.ordinalize}_string" unless player.nil?
      %i{ :class => "#{lineup.string === 1 ? 'icon-chevron-down' : 'icon-chevron-up'}" }
