- if !(string.nil?) && lineup.string === string
  - player = get_player(lineup.player_teams.first.player_id)
  %tr.lineup{ :data => { 'player-id' => lineup.player_teams.first.id, :positions => lineup.positions.collect{ |p| p.id } } }
    %td
      = lineup.position.abbreviation.upcase
      = "(#{player.position.abbreviation.upcase})" if lineup.flex
    %td.name= player.name.full_name unless player.nil?
    %td= player.contract.bye_week unless player.nil?
    %td= player.points_this_season unless player.nil?
    %td= link_to (image_tag "shared/#{player.nil? ? 'user_add.png' : 'user_go.png'}", :title => 'Swap Player'), '#',
      { :data => { 'reveal-id' => 'swap_player' } }
