%tr.slot.reserve{ :data => { :id => player.id } }
  %td.position= player.position.abbreviation.upcase
  %td.player
    %span.name
      - unless player.nil?
        %a{ :href => player_path(player.id) }
          = player.name.full_name
    %span.position{ :data => { :id => player.nil? ? '' : player.position.id } }
      = player.position.abbreviation.upcase unless player.nil?
    %span.team
      = player.real_team.name.abbreviation.upcase unless player.nil?
  %td.player.points= player.points_this_season
  %td.player.points.projected N/A
  %td.player.bye= player.contract.bye_week
  %td
    - empty_slots = Lineup.empty(@team.id).by_position(player.position.id)
    %button.btn.btn-mini{ :href => '#swap_player',
      :data => { :toggle => 'modal',
      :compatible => Lineup.by_position(player.position.id).collect{ |l| l.id } },
      :class => "#{empty_slots.count > 0 ? '' : 'disabled' }" }
      = t '.labels.reserve'
      %i{ :class => "icon-plus" }
