= javascript_include_tag controller.action_name
= stylesheet_link_tag controller_base_name


- content_for :title, 'Game Review'

.tabbable
  %ul.nav.nav-tabs
    - @games.each_with_index do |game, i|
      - week = i + 1
      %li.tab{ :id => "week_#{week}", 'data-game' => "#{game.id}" }
        %a{ :href => "#week_#{week}Tab",
          :data => {:toggle => "tab"},
          :class => game_review_tab_class(game.won?(@team), @week === week || (@week.zero? && i.zero?)) }
          = t '.tab_label', :week => week
  .tab-content
    - @games.each_with_index do |game, i|
      - week = i + 1
      .tab-pane{ :id => "week_#{week}Tab",
        :class => game_review_tab_class(game.won?(@team), @week === week || (@week.zero? && i.zero?)) }
        - if game.scored?
          .row
            .span12
              %h5= t ".#{game.won?(@team) ? 'victory' : 'defeat'}", :opponent => game.opponent_for(@team).name
        .row
          .span5
            %h6= game.away_team.name
          .span2
            %h6 @
          .span5
            %h6= game.home_team.name
:javascript
  $(function () {
    $('.tabs a:first').tab('show')
  })