= javascript_include_tag controller.action_name
= stylesheet_link_tag controller_base_name
- content_for :title, t('.title')

:coffeescript
  $ ->
    $('#game-review .game').not('.played').hide()
    $('#game-filter').on 'click', (e) ->
      btn = $(e.target)

      if btn.hasClass('active')
        btn.text('Show All Games')
        $('#game-review .game').not('.played').hide()
      else
        btn.text('Show Only My Games')
        $('#game-review .game').not('.played').show()

%button.btn{ :id => 'game-filter', :data => { :toggle => 'button' } } Show All Games
#game-review.tabbable
  %ul.nav.nav-tabs
    - (1..@game_weeks.size).each do |week|
      %li.tab{ :class => "#{@week === week || (@week.zero? && i.zero?) ? 'active' : ''}" }
        %a{ :href => "#week#{week}", :data => { :toggle => 'tab' } }
          = t '.tab_label', :week => week
  .tab-content
    - (1..@game_weeks.size).each_with_index do |week, i|
      %li.tab-pane{ :id => "week#{week}", :class => "#{@week === week || (@week.zero? && i.zero?) ? 'active' : ''}" }
        - @game_weeks[i].each do |game|
          = render :partial => (game.scored? ? 'game_row_scored' : 'game_row'), :locals => { :game => game, :week => week }
