= javascript_include_tag controller.action_name
= stylesheet_link_tag controller_base_name
- content_for :title, t('.title')
- content_for :section_title, "Coach's Corner"
:coffeescript
  $ ->
    $('#game-review .game').not('.played').hide()
    $('#game-filter').on 'click', (e) ->
      cb = $(e.target)

      if cb.attr('checked') is 'checked'
        $('#game-review .game').not('.played').show()
      else
        $('#game-review .game').not('.played').hide()


= label_tag :remember_me, :required => false, :class => 'checkbox' do
  = t('.labels.filter')
  = tip_icon t('.tooltips.filter')
  %input#game-filter{ :type => 'checkbox' }

#game-review.tabbable.row
  %ul.nav.nav-tabs
    - (1..@game_weeks.size).each_with_index do |week, i|
      %li.tab{ :class => "#{@week === week || (@week.zero? && i.zero?) ? 'active' : ''}" }
        %a{ :href => "#week#{week}", :data => { :toggle => 'tab' } }
          = t '.tab_label', :week => week
  .tab-content
    - (1..@game_weeks.size).each_with_index do |week, i|
      %li.tab-pane{ :id => "week#{week}", :class => "#{@week === week || (@week.zero? && i.zero?) ? 'active' : ''}" }
        - @game_weeks[i].each do |game|
          = render :partial => (game.scored? ? 'game_row_scored' : 'game_row'), :locals => { :game => game, :week => week }
