= javascript_include_tag controller.action_name
= stylesheet_link_tag controller_base_name


- content_for :title, 'League Review'

.tabbable
  %ul.nav.nav-tabs
    - @games.each_with_index do |game, i|
      - week = i + 1
      %li.tab{ :id => "week_#{week}" }
        %a{ :href => "#week_#{week}Tab", :data => {:toggle => "tab"},}
          = t '.tab_label', :week => week
  .tab-content
    - @games.each_with_index do |games, i|
      - week = i + 1
      .tab-pane{ :id => "week_#{week}Tab" }
        - games.each do |game|
          .row
            .span5
              %h6
                %strong
                  = game.away_team.name
                  = "(#{game.away_team_score})" if game.scored?
            .span2
              %h6 @
            .span5
              %h6
                %strong
                  = game.home_team.name
                  = "(#{game.home_team_score})" if game.scored?
            %br
            %br
