= javascript_include_tag controller.action_name
= stylesheet_link_tag controller_base_name
= render :partial => 'shared/modal', :locals => { :id => 'swap_player' }
- content_for :title, t('.title')

.row
  .span12
    %h5 Starters
    %table#starter.table-bordered.table-striped.table-condensed.roster
      %thead
        %tr
          %th Position
          %th Name
          %th Bye
          %th Points This Season
          %th.controlwrap
      %tbody
        - @lineups.each do |lineup|
          = render :partial => 'player_row', :locals => { :lineup => lineup, :string => 1 }

    %h5 Bench
    %table#bench.roster
      %thead
        %tr
          %th Position
          %th Name
          %th Bye
          %th Points This Season
          %th.controlwrap
      %tbody
        - @lineups.each do |lineup|
          = render :partial => 'player_row', :locals => { :lineup => lineup, :string => 2 }
