= javascript_include_tag controller.action_name
= stylesheet_link_tag controller_base_name
= render :partial => 'shared/modal', :locals => { :id => 'swap_player', :title => t('.modal_title'), :footer => false }
:coffeescript
  $('#swap_player').modal
    show: false
- content_for :title, t('.title')
- content_for :section_title, "Coach\'s Corner"

#manage_starters.row
  .span12
    %h5 Starters
    %table#starter.table-bordered.table-striped.table-condensed.roster
      %thead
        %tr
          %th= t('.columns.position')
          %th= t('.columns.name')
          %th= t('.columns.points')
          %th= t('.columns.projected_points')
          %th= t('.columns.bye')
          %th.controlwrap
      %tbody
        - @lineups.each do |lineup|
          = render :partial => 'player_row', :locals => { :lineup => lineup } if lineup.string === 1

    %h5 Bench
    %table#bench.table-bordered.table-striped.table-condensed.roster
      %thead
        %tr
          %th= t('.columns.position')
          %th= t('.columns.name')
          %th= t('.columns.points')
          %th= t('.columns.projected_points')
          %th= t('.columns.bye')
          %th.controlwrap
      %tbody
        - @lineups.each do |lineup|
          = render :partial => 'player_row', :locals => { :lineup => lineup } if lineup.string === 2

    %h5 Injury/Reserve
    %table#injury-reserve.table-bordered.table-striped.table-condensed.roster
      %thead
        %tr
          %th= t('.columns.position')
          %th= t('.columns.name')
          %th= t('.columns.points')
          %th= t('.columns.bye')
          /%th= t('.columns.projected_points')
          %th.controlwrap
      %tbody
        - @reserve.each do |player|
          = render :partial => 'reserve_player_row', :locals => { :player => player }
