- content_for :title, "Players"
- content_for :section_title, "Research"
= javascript_include_tag 'research'
= stylesheet_link_tag 'research'
-#.row.datatable-filters
-#  .span1 Filters:
-#  .span11
-#    %select.span1.btn.btn-mini{:rel => "popover", :title => "Filter Position" }
-#      %option{:value => ''} All
-#      %option{:value => "QB"} QB
-#      %option{:value => "WR"} WR
-#      %option{:value => "RB"} RB
-#      %option{:value => "TE"} TE
-#      %option{:value => "K"} K
-#      %option{:value => "LB"} LB
-#      %option{:value => "DL"} DL

.row
  .span12
    .container-fixed
      %h3 Player Research
      .row
        %form.filter-form.form-inline
          .span2.position
            = label_tag 'position'
            = select_tag 'position', options_for_select(@positions), :class => 'span1', :include_blank => true
          .span2.team
            = label_tag 'team'
            = select_tag 'team', options_for_select(@teams), :class => 'span1', :include_blank => true
          .span8.name= text_field_tag 'name', nil, :placeholder => 'Filter by name', :class => 'search-query'
      %table#research.display.all-players-data.table.table-striped.table-condensed{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th.name Name
            %th.first-name
            %th.last-name
            %th.position Pos
            %th.team Team
            %th.bye Bye
            %th.contract-amount $Yr
            %th.contract-total-amount $Tot
            %th.contract-end-year End
            %th.points FPTs
            %th.passing-points Pass
            %th.rushing-points Rush
            %th.defensive-points Def
            %th.fumble-points Fum
            %th.scoring-points Td
            %th.points-per-dollar P/DD
            %th.games Games
            %th.id
