= javascript_include_tag 'research'
= stylesheet_link_tag 'research'


.row-fluid
  .span12
    .container-fixed
      .row-fluid
        .span12
          %form.filter-form.form-inline.well.light-well
            %h2= t('.title')
            Filter:
            = select_tag 'position', options_for_select(@positions), :class => 'input_small', :prompt => 'Position'
            = select_tag 'team', options_for_select(@teams), :class => 'input_small', :prompt => 'Team'
            = select_tag 'bye', options_for_select(4..11), :class => 'input_small', :prompt => 'Bye Week'
            = text_field_tag 'name', nil, :placeholder => 'Filter by name', :class => 'search-query form-search'
      .row-fluid
        .span12.well.light-well#research_table
          %table#research.display.all-players-data.table.table-condensed{:border => "0", :cellpadding =>    "0", :cellspacing => "0"}
            %thead
              %tr.research_row
                %th.name.dt_left Player
                %th.first-name
                %th.last-name
                %th.position.dt_center Pos
                %th.team.dt_center Team
                %th.bye.dt_center Bye
                %th.contract-amount.dt_right Yearly
                %th.contract-total-amount.dt_right Total
                %th.contract-end-year.dt_right Ending
                %th.points.dt_right FPTs
                %th.passing-points.dt_right Pas
                %th.rushing-points.dt_right Rsh
                %th.defensive-points.dt_right Df
                %th.fumble-points.dt_right Fum
                %th.scoring-points.dt_right Td
                %th.dollars_per_point.dt_right DD/P
                %th.games.dt_right Games
                %th.id

