.row
  .span12
    .container-fixed

      %h3
        Player Research
      %table.all-players-data.table.table-striped.table-bordered.datatable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th{:colspan => 5}
              Player
            %th{:colspan => 3}
              Contract
            %th{:colspan => 8}
              Performance
          %tr
            %th Player
            %th Pos
            %th O/D
            %th Team
            %th Bye
            %th $Yr
            %th $Tot
            %th End
            %th FPTs
            %th Pass
            %th Rush
            %th Def
            %th Fum
            %th Td
            %th $DD/P
            %th Games

        %tbody
          - @players.each do |player|
            %tr{:id => dom_id(player)}
              %td
                %a{:href => "/players/#{player.id}"}
                  = player.fname
              %td= player.position.abbreviation.upcase
              %td= player.position.designation
              %td= player.real_team.display_name.last_name
              %td= player.contract.bye_week
              %td= player.contract.amount
              %td= player.contract.summary
              %td= player.contract.end_year
              %td= player.points.points
              %td= player.points.passing_points
              %td= player.points.rushing_points
              %td= player.points.defensive_points
              %td= player.points.fumbles_points
              %td= player.points.scoring_points
              %td= player.points_per_dollar
              %td= player.points.games_played
