<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dynasty Draft Demo</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="/draft/resources/css/dynasty_theme.css"> -->
    <%= stylesheet_link_tag "/draft/resources/css/dynasty_theme" %>
    <!-- <script type="text/javascript" src="/draft/lib/extjs/ext-debug.js"></script> -->
    <%= javascript_include_tag "/draft/lib/extjs/ext-debug" %>
    <!-- <script type="text/javascript" src="/draft/app.js"></script> -->
    <%= javascript_include_tag "/draft/app" %>
</head>
<body>
   <!--
   <h1>Logged in as: <%= @user.email %></h1>
    <p>Your Team: <%= @your_team.name %></p>
    <p>Session Data: <%= session %></p>
    <p>User Data: <%= @user.inspect %></p>
    <p>Current round: <%= @current_round.inspect %></p>
    -->
</body>
</html>
