= content_for :title, 'Dynasty Draft Demo v.1'
:coffeescript
  window.DRAFT_STATE = '#{@draft.state}'
  window.USER_BALANCE = #{@team.balance}
  window.SALARY_TOTAL = #{@team.salary_total}
  window.AUTOPICK = #{!!@team.autopick}
  window.CHANNEL = '#{@team.uuid}'
= stylesheet_link_tag '/draft/resources/css/dynasty_theme'
= stylesheet_link_tag 'draft'
= javascript_include_tag 'apps/draft'
= javascript_include_tag '/draft/app'
%body{ :class => 'loading' }
