- content_for :title, "Coache's Corner: Trades"
= semantic_form_for Trade.new do |f|
  %h3
    Offer a New Trade
  .container
    .span6
      %h5
        Requested Player:
        = @selected_player.name
        ,
        = @selected_player.lineup.position.abbreviation.upcase
        for
        = @selected_player.team.name


      = f.input :requested_player_id, :as => :hidden, :value => @selected_player.id
      = f.input :offered_player, :as => :select, :collection => options_from_collection_for_select(@my_players, :id, :name, params[:pid])
      = f.input :message, :input_html => { :rows => 5, :cols => 70, :maxlength => 255  }, :label => "Send a message"
      = f.submit 'Submit', :class => 'nice small radius blue button'