!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]

%head
  %meta{ :charset => "utf-8" }
  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title Dynasty Owner

  -# Included CSS Files
  = stylesheet_link_tag "application"

  -# Included JS Files
  = javascript_include_tag "application"
  = csrf_meta_tag


  -#%script{:src => "http://js.pusherapp.com/1.9/pusher.min.js", :type => "text/javascript"}
  -##Time mocking for testing
  -#:javascript
  -#  $('div#clock').text('#{Time.now}');
  -#
  -#  Pusher.log = function(message) {
  -#    if (window.console && window.console.log) window.console.log(message);
  -#  };
  -#
  -#  var pusher = new Pusher('#{Pusher.key}');
  -#  var chrono = pusher.subscribe('chrono-channel');
  -#  chrono.bind('update', function(data) {
  -#    $('div#clock').text(data);
  -#  });



%body
  #dynasty-navbar.container
    .row
      .three.columns
        %h1
          = image_tag 'navbar_logo.png'
      .nine.columns.hide-on-phones.clean.right
        %strong
          %a.button.nice.small.black(data-reveal-id="playerResearch") Research
          %a.button.nice.small.black(data-reveal-id="userTeams") Teams
          %a.button.nice.small.black(data-reveal-id="userAccount") Account
          %a.button.nice.small.black(data-reveal-id="timeTravel") TimeMachine
          = link_to "Home", root_url, :class => "button nice small blue"

  /*Primary Page Header Bar
  .container
    .row
      .twelve.columns
        .foundation-header
          %h1
            %a
              Primary Heading Goes Here
          %h4.subheader
            Lorem impsum dolor sit amet. Lorem impsum dolor sit amet. Lorem impsum dolor sit amet.

    .row
      .nine.columns
        /*Core Content
        - flash.each do |key, msg|
          .alert-box.success
            = msg
        = yield

      .three.columns
        - if user_signed_in?
          .panel
            .alert-box.success
              Signed in as
              = current_user.name
            .alert-box.error
              Not you?
              = link_to "Sign Out", destroy_user_session_path
        .panel


        .panel
          Right 2
          %br
          %br
          %br
          %br
        .panel
          Right 3
          %br
          %br
          %br
          %br
        .panel
          Right 4
          %br
          %br
          %br
          %br


















  #playerResearch.reveal-modal
    .three.columns
      %h2 Player Research
      %dl.nice.vertical.tabs
        - Position.all.each do |p|
          %dd
            = link_to p.name, p, :class=> "nice large radius button"
    %a.nice.large.red.button.close-reveal-modal Close

  #userTeams.reveal-modal
    %h2 User Teams Modal
    %a.nice.large.red.button.close-reveal-modal Close

  #userAccount.reveal-modal
    %h2 User Account Modal

    %a.nice.large.red.button.close-reveal-modal Close

  #timeTravel.reveal-modal
    %h5
      McFly's DeLorean
    .alert-box
      = Clock.first.time.strftime("%B %e, %Y")
    %p
      = link_to "Fast Forward 1 Week", "/clock/2/next_week", :class => "nice button blue small radius"
    %p
      = link_to "Reset To Season Start", "/clock/2/reset", :class => "nice button blue small radius"
    %p
      = link_to "Fast Forward To Real Date", "/clock/2/present", :class => "nice button blue small radius"

  #footer
    = render :partial => "devise/shared/links"