!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]

%head
  %meta{ :charset => "utf-8" }
  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  -# Set the viewport width to device width for mobile

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}

  %title= yield :title

  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CLIENT_ID = '#{@team.uuid}';

  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  = csrf_meta_tag

  -# tablesorter not found? Perhaps you mean to include lib/tablesorting
  -# REFACTOR: move this to appropriate 'assets/javascripts/{name}.js.coffee' file and include that instead
  /%script{:src => "/assets/jquery.tablesorter.js", :type => "text/javascript"}
  /:javascript
  /  $(document).ready(function() {$("#myTable").tablesorter();});

%body

  -# Display the public sitewide nav bar
  - unless user_signed_in?
    #dynasty-navbar.fixed_nav.container
      = render :partial => "shared/dynasty_nav"

  -# Display the private sitewide nav bar
  - if user_signed_in?
    #dynasty-navbar.private.fixed_nav
      = render :partial => "/shared/dynasty_nav_private"


  /* Main Page Content
  .row
    .container.main_yield
      .row
        .twelve.columns

          -# Show error messages
          #global-errors
            - flash.each do |type, msg|
              %div.alert-box{ :class => get_alert_style_by_type(type) }= msg

      -# Page Header
      .row
        .sub_header
          %h4.white
            -#Refactor: Switch affected pages to follow same structure
            = yield :title
            = @title

      -# Main Page Content
      #content
        = yield
        %input.btn.primary{:type => "button", :value => "Click me"}
      -# Page Footer
      = render :partial => "shared/dynasty_footer"

  -# Modals
  - unless user_signed_in?
    //TODO: I had to comment this out to keep the page from throwing an error. The login modals need cleaned up anyway
    //= render :partial => "shared/login_modal"
  = render :partial => "shared/zendesk"
  #footer
    %form
      %input{:type => "hidden"}

