!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]

%head
  %meta{ :charset => "utf-8" }
  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= yield(:title).empty? ? 'Dynasty Owner' : yield(:title)

  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CLIENT_ID = '#{@team.uuid}';

  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  = csrf_meta_tag

%body
  #navbar.container
    .row
      .three.columns
        = link_to (image_tag 'navbar_logo.png'), root_path
        = yield :navbar_left
      .nine.columns.hide-on-phones.right
        = yield :navbar_right
        = render :partial => '/users/shared/links'

  /*Primary Page Header Bar
  #content.container
    .row
      .nine.columns
        #global-errors
          - flash.each do |type, msg|
            %div.alert-box{ :class => get_alert_style_by_type(type) }= msg
        = yield

      .three.columns
        = yield :sidebar
