!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]
%head
  %meta{ :charset => "utf-8" }
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
  %title= 'Dynasty Owner'
  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CHANNEL = '#{@team.uuid}'
  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  = csrf_meta_tag
  = favicon_link_tag
// Body
%body
  = render :partial => "shared/login_modal"
  // Sitewide Nav Bar
  = render :partial => "shared/nav_wrapper"
  // The Page Stack
  .container.main_yield{"data-pjax-container" => ""}
    .row
      .span12
        // Global Errors
        #global-errors
          = render :partial => "shared/global-errors"
    = render :partial => "shared/sub_pages"
    -#  -# main page yield
    = yield
    -#-# Page Footer
    = render :partial => "shared/dynasty_footer"
    -#-# Modals
    -#- unless user_signed_in?

