!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]



%head
  %meta{ :charset => "utf-8" }
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0htm", :name => "viewport"}
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}

  %title= 'Dynasty Owner'
  / History.js
  <!--[if lt IE 9]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  %script{:defer => "", :src => "http://balupton.github.com/history.js/scripts/bundled/html4+html5/jquery.history.js"}
  %script{:src => "http://api.html5media.info/1.1.5/html5media.min.js"}
  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CHANNEL = '#{@team.uuid}'
  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  = csrf_meta_tag
  = favicon_link_tag
// Body
%body
  = render :partial => "shared/chrome_frame"
  = render :partial => "shared/modals/login_modal"
  // Sitewide Nav Bar
  = render :partial => "shared/nav_wrapper"
  // The Page Stack
  .container.main_yield
    .row-fluid
      .span12
        // Global Errors
        #global-errors
          = render :partial => "shared/global-errors"
        #sub-pages
        = render :partial => "shared/sub_pages"
        // Main Content
        = yield

  -# Page Footer
  = render :partial => "shared/dynasty_footer"
  -# Modals
  - unless user_signed_in?
    = render :partial => "shared/modals/signup_modal"



