!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]

%head
  %meta{ :charset => "utf-8" }
  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= @title

  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CLIENT_ID = '#{@team.uuid}';

  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  %script{:src => "/assets/jquery.tablesorter.js", :type => "text/javascript"}
  = csrf_meta_tag

  :javascript
    $(document).ready(function() {$("#myTable").tablesorter();});

%body
  /*Dynasty Navigation Partial
  = render :partial => "shared/dynasty_nav"

  /* Main Page Content
  .row
    .container.main_yield
      .row
        .span12
          #global-errors
            - flash.each do |type, msg|
              %div.alert-box{ :class => get_alert_style_by_type(type) }= msg
      .row
        .sub_header
          %h4.white= @title
      = yield
      .row
        .span6
          %h5
          %h5 Lorem ipsum dolor sit ame
          %p
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        .span6
          %h5
          %h5 At vero eos et accusamus

          %p "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
      .row
        %ul.nav-bar.footer-nav
          %li
            %a{:href => "/mockups/rules"} FAQs
          %li
            %a{:href => "/mockups/terms_conditions"} Terms & Conditions
          %li
            %a{:href => "/mockups/privacy"} Privacy
          %li
            %a{:href => "/mockups/contact"} Contact

  = render :partial => "shared/login_modal"
  = render :partial => "shared/zendesk"
  #footer
    %form
      %input{:type => "hidden"}

