!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]
%head
  %meta{ :charset => "utf-8" }
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
  %title= 'Dynasty Owner'
  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CLIENT_ID = '#{@team.uuid}';
  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  = csrf_meta_tag
  = favicon_link_tag
// Body
%body.animated.fadeIn.public
  .background


  #dynasty-navbar.navbar.navbar-fixed-top.home_page
    .navbar-inner
      .container
        // Brand and Logo Stay Here
        %a.logo{:href=>'/'}

          = image_tag "single_logo_minimal.png", :class => "logo visible-desktop pull_left"
          = image_tag "navbar_logo.png", :class => "logo hidden-desktop pull_left"
        // Collapsible nav for tablets/phones
  .container.fixed
    .row
      #superwide.span12
        .span8.offset4
          %h1.animated#flyright Fantasy Football is about to change. . .
          %h2.animated#flyleft . . . are you ready to build a Dynasty?
          %br
          %ul.nav.nav-pills.box_shadow
            %h3.animated#pulse.black
              %a{:href => "#"} Schedule of Events
              &nbsp;&nbsp;&nbsp;&nbsp;
              %a{:href => "#"} Official League Rules
              &nbsp;&nbsp;&nbsp;&nbsp;
              %a{:href => "/login"} Log In

      #stack
        .span6
          %h1
            Carousel
          <img src="http://placehold.it/400x300" class="carousel bigbox" alt="">
        .span6
          %h1
            3-2-1 Quickdraw
          <img src="http://placehold.it/400x300" class="movie bigbox"alt="">
        .row
          .offset2.span8.offset2
            %h1 Sign Up To Create or Join a League
        .row
          .span4
            <img src="http://placehold.it/200x150" class="movie bigbox"alt="">
          .span4
            <img src="http://placehold.it/200x150" class="movie bigbox"alt="">
          .span4
            <img src="http://placehold.it/200x150" class="movie bigbox"alt="">
