!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)]
%head
  %meta{ :charset => "utf-8" }
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
  %title= 'Dynasty Owner'
  -# drop the client's UUID in here for use with socket subscriptions and the like
  - if @team
    :javascript
      window.CLIENT_ID = '#{@team.uuid}';
  = stylesheet_link_tag "application" # Included CSS Files
  = javascript_include_tag "application" # Included JS Files
  = csrf_meta_tag
  = favicon_link_tag
// Body
%body.animated.fadeIn.public
  .background


  #dynasty-navbar.navbar.navbar-fixed-top.home_page
    .navbar-inner
      .container
        // Brand and Logo Stay Here
        %a.logo{:href=>'/'}
          = image_tag "bg.png"
          = image_tag "single_logo_minimal.png", :class => "logo visible-desktop pull_left"
          = image_tag "navbar_logo.png", :class => "logo hidden-desktop pull_left"
        // Collapsible nav for tablets/phones
  .container.fixed
    .row
      .span5
      #flying.hero-unit.animated.span7.offset5
        %h2 Fantasy Football is about to change.
        %ul.nav.nav-pills
          %h3
            %a{:href => "#"} Schedule of Events
            %a{:href => "#"} Official League Rules
            %a{:href => "#"} Log In

