= stylesheet_link_tag 'forms'
= javascript_include_tag 'register'
= devise_error_messages!
= semantic_form_for @user, :url => create_user_registration_path, :remote => true, :html => { :id => 'register', :class => 'nice' } do |f|
  .row.twelve.columns.centered
    .panel
      %h3 Register
      = render :partial => '/users/shared/registration_form', :locals => { :form => f }
