= stylesheet_link_tag 'forms'
= javascript_include_tag 'register'
.row-fluid
  .span12.well.light-well
    %h2= t('.title', :tier => params[:tier])
    = simple_form_for @user, :url => create_user_registration_path, :html => { :id => 'register', :class => [ 'form-horizontal', 'labels-left'] } do |f|
      = render :partial => 'form', :locals => { :form => f }
      = f.button :submit, 'Submit'
    %small.red * denotes a required field
